@import "./app.css";

.shared-code-info .ͼo .cm-gutters,
.shared-code-info .ͼo {
  border-radius: 0.5rem !important;
}

.file-name-header {
  font-family: var(--base-serif-font);
  font-weight: bold;
  font-size: 1.75rem;
  letter-spacing: -0.025rem;
}

.info-container {
  justify-content: flex-end;
  gap: 1rem;
  align-items: center;
  padding-bottom: 0.35rem;
}

.last-modified {
  flex-grow: 1;
  color: grey;
  display: inline;
}

.shared-code-info {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 1rem;
  border-radius: 12px;
  margin-block: 1rem;
}

.copy-link {
  color: var(--base-text-color);
  cursor: pointer;
  align-items: center;
  gap: 0.25rem;
  text-decoration: none;
}

.copy-link:hover {
  color: var(--base-text-hover-color);
}
